<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="text-muted">&copy; Connecting_People 2021</span>
            </div>
            <div class="col-md-2"><a href="https://www.linkedin.com/in/mohit-kochhar07/" style="text-decoration: none;"
                    class="text-muted">LinkedIn <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                        width="20px" alt="LinkedIn"></a>
            </div>


            <div class="col-md-2"><a href="https://github.com/Kochhar07" style="text-decoration: none;"
                    class="text-muted">Github <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                        width="20px" alt="Github"></a></div>
        </div>
    </div>
</footer>