<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="row">
        <div class="col-6">

            <!-- <h1>Home Page</h1> -->
            <p>Welcome to my Social App</p>
        </div>
    </div>