<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Post</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <input class="my-3" type="file" name="image" id="" multiple>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div> -->

                <div class="mb-3">
                    <label class="form-label" for="Status">Status</label>
                    <textarea class="form-control" type="text" id="Status" name="campground[Status]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Post</button>
                    <button type="button" class="btn btn-primary"><a href="index"
                            style="text-decoration: none; color: white">All
                            Post</a></button>
                </div>
            </form>

        </div>
    </div>